<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
  http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

	<!-- The generic input channel which would be used to pass through all messages 
		coming into the Central Gateway -->
	<int:channel id="inputChannel"></int:channel>

	<!-- Here we wire up the Central Gateway which is the central point of access 
		from our service layer -->
	<int:gateway id="gateway" default-request-channel="inputChannel"
		service-interface="com.cht.payment.services.CentralPaymentGateway"
		default-reply-channel="outputChannel"></int:gateway>



	<!-- This is the generic Output channel which will be used by to send the 
		output from any plugin. -->
	<int:channel id="outputChannel"></int:channel>

	<!-- The router is the one who decides which channel to send the message 
		passed in from input channel into. The client should send the name of the 
		Banking system where by 'SearchChannel' keyword is appended by the defaultRouter 
		bean. -->
	<int:router id="centralRouter" ref="defaultRouter" method="resolveBankChannel"
		input-channel="inputChannel"></int:router>

	<bean id="defaultRouter" name="defaultRouter"
		class="com.cht.payment.services.PaymentRouter" />



</beans>  