<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>AccountReview</display-name>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
        <servlet-name>account-review</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>account-review</servlet-name>
        <url-pattern>/welcome.jsp</url-pattern>
        <url-pattern>/welcome.html</url-pattern>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

        <!-- Prior to Servlet 3.0 define either an error-code or an exception-type but not both -->
	 <error-page>
	  <!-- Define error page to react on Java exception -->
	  <exception-type>java.lang.Throwable</exception-type>
	  <!-- The location of the resource to display in response to the error will point to the Spring MVC handler method -->
	  <location>/error500.jsp</location>
	 </error-page>
	 
	 <error-page>
	  <error-code>500</error-code>
	  <location>/error500.jsp</location>
	 </error-page>
	  
	  <error-page>
      <error-code>404</error-code>
      <location>/error404.jsp</location>
     </error-page>
     
	 <!-- With Servlet 3.0 and above general error page is possible -->
	 <error-page>
	  <location>/error500.jsp</location>
	 </error-page>
 
</web-app>
